<html ng-app="inspectionObjectRetriever">
<head>
    <script type="text/javascript" src="assets/js/angular.min.js" ></script>
    <script type="text/javascript" src="assets/js/angular-route.js"></script>
    <script type="text/javascript" src="app/app.js" ></script>
</head>
<body ng-controller="InspectionObjectListCtrl">
	Search: <input ng-model="query">
  <ul>
    <li ng-repeat="inspectionObject in inspectionObjects | filter:query">
      <span>{{inspectionObject.objectName}}</span>
      <p>{{inspectionObject.description}}</p>
    </li>
  </ul>

</body>
</html>