<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="inspectionObject in inspectionObjects | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/inspectionObjects/{{inspectionObject.id}}" class="thumb"><img ng-src="{{inspectionObject.imageUrl}}"></a>
          <a href="#/inspectionObjects/{{inspectionObject.id}}">{{inspectionObject.name}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>